bcrypt==4.0.0
email-validator==1.2.1
fastapi==0.82.0
passlib==1.7.4
pydantic==1.10.1
python-dotenv==0.21.0
python-jose==3.3.0
python-multipart==0.0.5
PyYAML==6.0
requests==2.28.1
SQLAlchemy==1.4.40
starlette==0.19.1
uvicorn==0.17.6
watchgod==0.8.2
